
<html>

<head>
  <title>teachers_videos</title>
</head>

<body>
            <h1> teachrs.videos</h1>
            <h2 style ="background:green ; color : white">  <a href="{% url 'home' %}" " >go home <a> </h2>
            <h2 style ="background:yellow ; color : blue">  <a href="{% url 'teachers_videos_upload' %}" >upload <a> </h2>
              <p  wigth = '100%'>
              <ol style="background : pink">
                {% for video in videos %}
                    
                      <li> <a href="{% url 'teachers_videos_seen' video.id %}" > {{video.name}} </a> </li>
                    
                {% endfor %}
              </ol>
              </p>
</body>

</html>