<!DOCTYPE HTML>

<html>

<head>
  <title>students answers</title>
</head>

<body>
<h1>answers</h1>
<h2 style ="background:green ; color : white">  <a href="{% url 'home' %}" " >go home <a> </h2>
        <table style="background:black" boarder="10">


            <tr style="background:yellow">
                <td>student number</td>
                <td>date</td>
                <td>file</td>
                <td>max=100</td>
            </tr>
                    
         {% for answer in answers %}       
            <tr style="background:pink">
                <td>{{ answer.number }}</td>
                <td>{{ answer.deadline }}</td>
                <td><a href="/{{answer.file}}" > download </a></td>
                <td><a href ="{% url 'vote' answer.id %}">{{ answer.vote }}</a></td>
            </tr>
        {% endfor %}

        </table>
</body>

</html>

